footer {
    display: flex;
    width: 85vw;
    margin: auto;
    flex-direction: column;
}

.footer-hr {
    width: 100vw;
}

.footer-email {
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    text-align: center;
    color: gray;
}